//## Buttons
@import "./_variables";
@import "./_mixins";

button,
.button {
  font-size: $font-size-base;
  font-weight: 400;
  padding: 0 ($base-padding * 3);
  appearance: none;
  border: 0;
  height: 48px;
  line-height: 48px;
  @include flex-shrink(0);
}

.button-default {
	background-color: transparent;
	color: $default;
}

.button-primary {
  background-color: $primary;
  color: $default;
  box-shadow:0 2px 8px -1px rgba($gray-base, .5), 0 0 12px rgba($primary, .75);
}

.button-submit {
  font-family: $font-headline;
  font-size: $h3;
  background-color: transparent;
  color: $primary;

  &:disabled {
    color: $gray-light;
  }
}

.button-with-icon {

  .icon {
    vertical-align: middle;
  }

  &--left {
    padding-left: ($base-padding * 2);

    .icon {
      margin-right: $base-padding;
    }
  }

  &--right {
    padding-right: ($base-padding * 2);
    margin-left: $base-padding;
  }
}

.close {
	width: 44px;
	height: 44px;
  line-height: 44px;
  padding: 0;
  background-color: transparent;

	&::before, &::after {
		content: '';
		position: absolute;
		height: 1.5px;
		margin-top: -0.75px;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		top: 50%;
		left: 0;
		right: 0;
		background: $gray-light;
	}

	&::before {
	    transform: rotate(45deg);
	}
	&::after {
	    transform: rotate(-45deg);
	}
}

.fullscreen {
	width: 44px;
	height: 44px;
  line-height: 44px;
  padding: 0;
	text-indent: -9999px;
  background-color: transparent;
  background-image: url('../assets/icons/fullscreen.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}