//## Checkbox
@import "./_variables";
@import "./_mixins";

.checkbox {
	position: relative;
  padding-left: ($base-padding * 4);
  margin-bottom: ($base-padding * 2);

	input[type="checkbox"] {
		position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0;

    &:checked ~ label {

      &::after {
        background-color: $primary;
        background-image: url('../assets/icons/check-symbol.svg');
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
	}

  label {
    display: block;
    line-height: 1.4;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: $default;
      border: 0;
    }
  }
}