//## Icons
@import "./_variables";
@import "./_mixins";

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;

	&--lg {
	    width: 44px;
	    height: 44px;
	    background-size: contain;
	}
}

.icon-ufo {
	background-image: url('../assets/icons/ufo.svg');
}

.icon-heart {
	background-image: url('../assets/icons/heart.svg');
}

.icon-star {
  background-image: url('../assets/icons/star.svg');
}

.icon-trophy {
  background-image: url('../assets/icons/trophy.svg');
}

.icon-imac {
  background-image: url('../assets/icons/imac.svg');
}

.icon-phone {
  background-image: url('../assets/icons/telephone.svg');
}

.icon-award {
	background-image: url('../assets/award.png');
}
