//## Switch
@import "./_variables";
@import "./_mixins";

.switch-lang {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 22px 0 $primary;
    position: relative;
    display: block;
    cursor: pointer;

    &__item {
        font-size: $font-size-xs;
        text-align: center;
        width: 100%;
        height: 100%;
        line-height: 44px;
        transition: .3s ease;
        position: absolute;
        opacity: 0;
        @include flex-shrink(0);

        &:first-child {
            opacity: 1;

            .active & {
                opacity: 0;
            }
        }

        &:last-child {
            opacity: 0;

            .active & {
                opacity: 1;
            }
        }
    }
}