<template>
  <header id="app-header">
    <div class="container">
      <div class="header-wrapper flex-wpapper">
        <a href="/">
          <div class="brand">
            <h1 class="u-sr">{{ title }}</h1>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566.9 161.2" class="brand__logo">
              <path d="M213.6 45.3h47.7v113.3h-47.7zM-.5 0h47.6v158.7H-.5zm475.7 131.7V43.6c-28.7 5.3-50.4 29.4-50.4 58.3 0 28.8 21.5 52.8 50.1 58.2 3.9.8 8 1.1 12.2 1.1 5.4 0 10.6-.7 15.5-1.9-15.2-.8-27.4-12.9-27.4-27.6m-142.7 0V43.6c-28.7 5.3-50.4 29.4-50.4 58.3 0 28.8 21.5 52.8 50.1 58.2 3.9.8 8 1.1 12.2 1.1 5.4 0 10.6-.7 15.5-1.9-15.3-.8-27.4-12.9-27.4-27.6m74.2-29.7h-50.2c3.5-7.4 5.5-15.6 5.5-24.3 0-13.1-4.4-25.2-12-34.9 31.8 2.7 56.7 28.1 56.7 59.1v.1zm142.8 0h-50.2c3.5-7.4 5.4-15.6 5.4-24.3 0-13.1-4.4-25.2-11.9-34.9 31.8 2.7 56.7 28.1 56.7 59.1v.1zM118.3 86.9c0-22.4-18.7-40.7-42-41.5h-9.4c.1.2.2.4.2.6 2.4 6.3 3.7 13 3.7 20.1v92.7h47.6V86.9zm24 30.3c0 22.4 18.7 40.7 42 41.5h9.4c-.1-.2-.2-.4-.2-.6-2.4-6.3-3.7-13-3.7-20.1V45.3h-47.6v71.9z"/>
              <path class="st0" d="M532.4 33.2h-1.7V11.6h-7.9V10h17.5v1.6h-7.9zm22.2 0l-9.1-21.4h-.1c.1 1.3.1 2.7.1 4v17.4h-1.6V10h2.6l8.6 20.4h.1l8.6-20.4h2.6v23.2h-1.7V15.7c0-1.2.1-2.5.2-3.8h-.1l-9.1 21.4h-1.1z"/>
            </svg>
          </div>
        </a>
        <switch-lang/>
      </div>
    </div>
  </header>
</template>

<script>
import SwitchLang from '../SwitchLang'
export default {
  name: 'Header',
  components: {
    'switch-lang': SwitchLang
  },
  data () {
    return {
      title: 'huee'
    }
  }
}
</script>
