<template>
  <swiper id="app-content" :options="swiperOption">
    <home-page/>
    <why-page v-show="isPortrait" />
    <experience-page v-show="isPortrait" />
    <cases-page v-show="isPortrait" />
    <contact-page v-show="isPortrait" />
  </swiper>
</template>

<script>
import Home from '../pages/Intro'
import Why from '../pages/Why'
import Experience from '../pages/Experience'
import Cases from '../pages/Cases'
import Contact from '../pages/Contact'

import util from '../../scripts/utilities'

export default {
  name: 'Main',
  components: {
    'home-page': Home,
    'why-page': Why,
    'experience-page': Experience,
    'cases-page': Cases,
    'contact-page': Contact
  },
  data () {
    let vue = this
    return {
      isLandscape: false,
      isPortrait: true,
      navIcons: [
        {
          title: 'Home',
          icon: 'icon-ufo'
        },
        {
          title: 'Why',
          icon: 'icon-heart'
        },
        {
          title: 'Experience',
          icon: 'icon-star'
        },
        {
          title: 'Cases',
          icon: 'icon-imac'
        },
        {
          title: 'Contact',
          icon: 'icon-phone'
        }
      ],
      swiperOption: {
        // history: {
        //   replaceState: true,
        //   key: ''
        // },
        hashNavigation: true,
        touchRatio: 0,
        slidesPerView: 'auto',
        autoResize: true,
        effect: 'fade',
        speed: 300,
        fadeEffect: {
          crossFade: true
        },
        pagination: {
          el: '.nav-wrapper',
          clickable: true,
          bulletClass: 'nav-item',
          bulletActiveClass: 'active',
          modifierClass: '',
          renderBullet: function (index, className) {
            let title = this.slides[index].title
            let icon = vue.navIcons[index].icon
            return `
              <a class="${className}">
                <i class="icon nav-icon ${icon}"></i>
                <span class="nav-item__label">${title}</span>
              </a>
            `
          }
        }
      }
    }
  },
  methods: {
    landscapeView: function () {
      if (util.orientation.isLandscape()) {
        this.isLandscape = true
        this.isPortrait = false
      } else {
        this.isLandscape = false
        this.isPortrait = true
      }
    },
    showGame: function () {
      this.landscapeView()
      if (this.isLandscape) {
        this.$el.swiper.slideTo(0, 300, false)
      }
    },
    updateSlider: function () {
      this.$el.swiper.update()
    }
  },
  created: function () {
    window.addEventListener('orientationchange', this.showGame)
    window.addEventListener('DOMContentLoaded', this.showGame)
  },
  mounted: function () {
    window.addEventListener('orientationchange', this.updateSlider)
  }
}
</script>
