<template>
  <transition name="slide">
    <nav id="app-nav" v-show="isLoaded && isPortrait && isActive">
      <div class="container u-no-padding">
        <div class="nav nav-wrapper flex-wpapper"></div>
      </div>
    </nav>
  </transition>
</template>

<script>
import Event from '../../scripts/event-bus'
import util from '../../scripts/utilities'

export default {
  name: 'Nav',
  data () {
    return {
      isLoaded: false,
      isPortrait: true,
      isActive: false
    }
  },
  methods: {
    pageLoaded () {
      let vue = this
      setTimeout(function () {
        vue.isLoaded = !vue.isLoaded
      }, 1000)
    },
    portraitView () {
      if (util.orientation.isLandscape()) {
        this.isPortrait = false
      } else {
        this.isPortrait = true
      }
    },
    showNavigation () {
      this.isActive = !this.isActive
    }
  },
  created: function () {
    window.addEventListener('orientationchange', this.portraitView)
    window.addEventListener('DOMContentLoaded', this.portraitView)
    Event.$on('newsletterhidden', () => this.showNavigation())
    Event.$on('newsletteractive', () => this.showNavigation())
  },
  beforeMount () {
    this.pageLoaded()
  }
}
</script>

<style lang="scss" scoped>
  .slide-enter-active {
    transition: transform .5s ease;
    transform: translateY(0);
  }
  .slide-leave-active {
    transform: translateY(100%);
  }
  .slide-enter, .slide-leave-to {
    transform: translateY(100%);
  }
</style>
