//## Functions
@import "./_mixins";

// @import compass;

//** Stars generator
// n is number of stars required
@function multiple-box-shadow ($n) {
	$value: '#{random(2000)}px #{random(2000)}px #FFF';
	@for $i from 2 through $n {
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
	}

	@return unquote($value)
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

.parallax-stars {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-delay: 0s;
	@include transition(opacity .3s ease);

	.swiper-slide-active & {
		transition-delay: .3s;
		opacity: 1;
	}
}

.parallax-stars {

	&:nth-child(1) {
		width: 1px;
		height: 1px;
		border-radius: 50%;
		background: transparent;
		box-shadow: $shadows-small;
		animation: animStar 100s linear infinite;

		&:after {
			content: '';
			position: absolute;
			top: 2000px;
			border-radius: 50%;
			width: 1px;
			height: 1px;
			background: transparent;
			box-shadow: $shadows-small;
		}
	}

	&:nth-child(2) {
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background: transparent;
		box-shadow: $shadows-medium;
		animation: animStar 150s linear infinite;

		&:after {
			content: '';
			position: absolute;
			top: 2000px;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background: transparent;
			box-shadow: $shadows-medium;
		}
	}

	&:nth-child(3) {
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: transparent;
		box-shadow: $shadows-big;
		animation: animStar 200s linear infinite;

		&:after {
			content: '';
			position: absolute;
			top: 2000px;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background: transparent;
			box-shadow: $shadows-big;
		}
	}

	&--vertical {
		&:nth-child(1) { animation: animStarVertical 100s linear infinite; }
		&:nth-child(2) { animation: animStarVertical 150s linear infinite; }
		&:nth-child(3) { animation: animStarVertical 200s linear infinite; }
	}
}

@keyframes animStar {

	from {
		transform: translateX(0px);
	},

	to {
		transform: translateX(-1500px);
	}
}

@keyframes animStarVertical {

	from {
		transform: translateY(0px);
	},

	to {
		transform: translateY(-1500px);
	}
}