//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    #e31f30;
$secondary:     #ffb41e;


$gray-base:	    #000000;
$gray: 	  	    #171419;
$gray-light:    #aba8ad;
$gray-lighter:  #999999;
$gray-lightest: #f1f1f1;


//** Header and nav height
$nav-and-header-height: 60px;

//** Layout
$base-padding:			8px;

//** Typography
$font-regular: 		'aktiv-grotesk', sans-serif;
$font-headline: 	'Noe Display', serif;

$font-size-base: 16px;
$font-size-sm: 	 14px;
$font-size-xs: 	 12px;
$h1: 350%;
$h2: 250%;
$h3: 215%;
$h4: 150%;
$h5: 125%;
$h6: 115%;
$p:  112%;


//** UI
$border-radius-base: 4px;

//-- Button
$btn-border-radius:  $border-radius-base;
