<template>
  <swiper class="awards-slider" :options="sliderOptions" ref="awardsSlider">
    <swiper-slide class="content-slide award-slide">
      <header class="page-header">
        <div class="container">
          <div class="u-text-center">
            <h2 class="h3 u-no-margin">{{ $t("awards.title") }}</h2>
            <p>Zdobywamy nagrody z <strong>naszymi klientami</strong>.</p>
          </div>
        </div>
      </header>
    </swiper-slide>
    <swiper-slide class="content-slide award-slide" v-for="award in awards" :key="award.id" v-bind:style="{ height: slideHeight + 'px' }">
      <div class="container">
        <div class="award">
          <h5 class="award__source u-no-margin">{{ award.source }}</h5>
          <div class="award-details-wrapper">
            <span class="award__title">{{ award.title }}</span>
            <span class="award__date">{{ award.date }}</span>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper>
</template>

<script>
export default {
  name: 'Awards',
  data () {
    return {
      title: 'Awards',
      id: 'awards',
      slideHeight: '',
      sliderOptions: {
        speed: 500,
        slidesPerView: 'auto',
        spaceBetween: 16,
        freeMode: true,
        direction: 'vertical',
        nested: true
      },
      awards: [
        {
          source: 'Design Nominees',
          title: 'Site Of The Day',
          date: '13.02.2018',
          id: 0
        },
        {
          source: 'Awwwards',
          title: 'Honorable Mention',
          date: '24.01.2018',
          id: 1
        },
        {
          source: 'CSS Design Awards',
          title: 'Best UI Design',
          date: '20.01.2018',
          id: 2
        },
        {
          source: 'CSS Design Awards',
          title: 'Special Kudos',
          date: '20.01.2018',
          id: 3
        },
        {
          source: 'CSS Light',
          title: 'Featured of the Day',
          date: '19.01.2018',
          id: 4
        },
        {
          source: 'CSS Reel',
          title: 'Winner of the Day',
          date: '03.05.2017',
          id: 5
        },
        {
          source: 'CSS Design Awards',
          title: 'Special Kudos',
          date: '29.04.2017',
          id: 6
        },
        {
          source: 'CSS Light',
          title: 'Featured of the Day',
          date: '24.04.2017',
          id: 7
        },
        {
          source: 'Awwwards',
          title: 'Merit for Commendable Sites',
          date: '20.04.2017',
          id: 8
        }
      ]
    }
  },
  methods: {
    updateSlider: function () {
      this.$refs.awardsSlider.swiper.update()
    }
  },
  mounted: function () {
    window.addEventListener('orientationchange', this.updateSlider)
  }
}
</script>

<style lang="scss" scoped>
  .awards-slider {
    max-height: calc(100% - 56px);
  }

  .award-slide {
    height: auto;
  }
</style>
