<template>
  <swiper-slide ref="page" :id="id" :data-hash="id" :data-history="id" :title="title" class="app-page swiper-slide">
    <div class="app-page-inner">
      <swiper class="page-slider" :options="sliderOptions" ref="casesParentSlider">
        <div class="parallax-bg" slot="parallax-bg" data-swiper-parallax-x="-25%">
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
        </div>

        <swiper-slide class="content-slide u-no-padding">
          <div class="container">
            <h2 class="h1">
              {{ $t("cases.title") }}
            </h2>
            <h6 class="u-font-primary">{{ $t("cases.sub_title") }}</h6>
          </div>
          <div data-swiper-parallax-x="-10%">
            <img src="../../assets/hand.png" alt="Huee" class="bounce" v-on:click="nextSlide()">
          </div>
        </swiper-slide>

        <swiper-slide>
          <swiper class="page-slider" :options="casesSliderOptions" ref="casesSlider">
            <swiper-slide class="project" v-for="project in projects" :key="project.id">
              <div class="project__cover" v-bind:style="{ 'background-image': 'url(' + project.image + ')' }"></div>
              <div class="project-title-wrapper">
                <h3 class="h6 u-no-margin"><a v-bind:href="'' + project.link + ''" class="project__title" target="_blank">{{ project.title }}</a></h3>
              </div>
            </swiper-slide>
          </swiper>
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination pagination projects-pagination" slot="pagination"></div>
    </div>
  </swiper-slide>
</template>

<script>
export default {
  name: 'Cases',
  data () {
    return {
      title: 'Cases',
      id: 'cases',
      sliderOptions: {
        watchOverflow: true,
        touchReleaseOnEdges: true,
        pagination: {
          el: '.projects-pagination',
          dynamicBullets: true,
          clickable: true,
          bulletClass: 'bullet',
          bulletActiveClass: 'is-active',
          modifierClass: 'pagination '
        }
      },
      casesSliderOptions: {
        speed: 500,
        slidesPerView: 2,
        preventClicks: false,
        preventClicksPropagation: false,
        spaceBetween: 0,
        nested: true,
        freeMode: true,
        direction: 'vertical',
        height: (window.innerHeight - 120)
      },
      projects: [
        {
          title: 'HR Contact',
          image: './static/projects/hrc.jpg',
          link: 'https://huee.in/portfolio-hrcontact/',
          id: 0
        },
        {
          title: 'Elektro_Sonda',
          image: './static/projects/es.jpg',
          link: 'https://huee.in/portfolio-elektro_sonda/',
          id: 1
        },
        {
          title: 'Quick Coders Academy',
          image: './static/projects/qca.jpg',
          link: 'https://huee.in/portfolio-quick-coders/',
          id: 2
        },
        {
          title: 'Dr. Irena Eris',
          image: './static/projects/drie.jpg',
          link: 'https://www.behance.net/gallery/60849449/Dr-Irena-Eris-KV',
          id: 3
        },
        {
          title: 'IFM Global Funds',
          image: './static/projects/ifm.jpg',
          link: 'https://www.behance.net/gallery/60823065/IFM-Global-Funds',
          id: 4
        },
        {
          title: 'Futourist',
          image: './static/projects/futourist.jpg',
          link: 'https://www.behance.net/gallery/60822591/Futourist',
          id: 5
        }
      ]
    }
  },
  methods: {
    updateSlider: function () {
      this.$refs.casesSlider.swiper.update()
    },
    nextSlide () {
      let slider = this.$refs.casesParentSlider.swiper
      slider.slideNext(500)
    }
  },
  mounted: function () {
    window.addEventListener('orientationchange', this.updateSlider)
  }
}
</script>
