<template>
  <swiper-slide ref="page" :id="id" :data-hash="id" :data-history="id" :title="title" class="app-page swiper-slide">
    <div class="app-page-inner">
      <swiper class="page-slider" :options="sliderOptions" ref="contactSlider">
        <div class="parallax-bg" slot="parallax-bg" data-swiper-parallax-x="-25%">
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
        </div>

        <swiper-slide class="content-slide u-no-padding">
          <div class="container">
            <div v-if="username">
              <p class="u-text-sm"><strong>{{ username }}</strong>, chcesz wiedzieć więcej? Napisz do nas. Będziemy ci wdzięczni za kontakt 👋</p>
            </div>
            <h2 class="h1">
              {{ $t("contact.title") }}
            </h2>
            <h3><a href="mailto:sayhello@huee.in" class="u-color-primary">sayhello@huee.in</a></h3>
          </div>
          <div data-swiper-parallax-x="10%">
            <img src="https://huee.in/_pics/hand-red.png" alt="Huee" class="bounce" v-on:click="nextSlide()">
          </div>
        </swiper-slide>

        <swiper-slide class="content-slide">
          <header class="page-header">
            <div class="container">
              <div class="u-text-center">
                <h3>{{ $t("contact.company") }}</h3>
                <p class="h6 u-font-primary">{{ $t("contact.address") }}</p>
              </div>
            </div>
          </header>
          <div class="container">
            <contact-list/>
          </div>

          <div class="container">
            <div class="u-text-center">
              <p class="legal">{{ $t("contact.legal") }}</p>
            </div>
          </div>
        </swiper-slide>
      </swiper>

      <div class="swiper-pagination pagination contact-pagination" slot="pagination"></div>
    </div>
  </swiper-slide>
</template>

<script>
import Event from '../../scripts/event-bus'
import ContacList from '../ContacList'
export default {
  name: 'Contact',
  components: {
    'contact-list': ContacList
  },
  data () {
    return {
      title: 'Contact',
      id: 'contact',
      username: '',
      sliderOptions: {
        speed: 500,
        parallax: true,
        slidesPerView: 'auto',
        watchOverflow: true,
        touchReleaseOnEdges: true,
        pagination: {
          el: '.contact-pagination',
          dynamicBullets: true,
          clickable: true,
          bulletClass: 'bullet',
          bulletActiveClass: 'is-active',
          modifierClass: 'pagination '
        },
        spaceBetween: 100,
        direction: 'horizontal'
      }
    }
  },
  methods: {
    updateSlider () {
      this.$refs.contactSlider.swiper.update()
    },
    nextSlide () {
      let slider = this.$refs.contactSlider.swiper
      slider.slideNext(500)
    },
    setUsername (name) {
      let username = (this.username = name)
      return username
    }
  },
  created () {
    Event.$on('onusernamevalidate', (value) => this.setUsername(value))
  },
  mounted: function () {
    window.addEventListener('orientationchange', this.updateSlider)
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/_variables';

  .h1 {
    font-size: 400%;
  }

  .legal {
    font-size: ($font-size-xs - 2);
    color: $gray-light;
  }
</style>
