<template>
  <swiper-slide ref="page" :id="id" :data-hash="id" :data-history="id" :title="title" class="app-page swiper-slide">
    <div class="app-page-inner">
      <header class="page-header">
          <div class="container">
            <div class="u-text-center">
              <h2 class="h3">{{ $t("experience.title") }}</h2>
              <p class="h6 u-font-primary">{{ $t("experience.sub_title") }}</p>
            </div>
          </div>
      </header>

      <swiper class="page-slider" :options="sliderOptions" ref="experienceSlider">
        <div class="parallax-bg" slot="parallax-bg" data-swiper-parallax-x="-25%">
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
        </div>

        <swiper-slide class="content-slide client-slide" v-for="client in clients" :key="client.id" v-bind:style="{ height: slideHeight + 'px' }">
          <img v-bind:src="'' + client.logo_url + ''" v-bind:alt="'' + client.name + ''" class="client-logo">
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination pagination clients-pagination" slot="pagination"></div>
    </div>
  </swiper-slide>
</template>

<script>
export default {
  name: 'Experience',
  data () {
    return {
      title: 'Experience',
      id: 'experience',
      slideHeight: '',
      sliderOptions: {
        speed: 500,
        parallax: true,
        slidesPerView: 2,
        slidesPerColumn: 4,
        spaceBetween: 0,
        pagination: {
          el: '.clients-pagination',
          dynamicBullets: true,
          clickable: true,
          bulletClass: 'bullet',
          bulletActiveClass: 'is-active',
          modifierClass: 'pagination '
        },
        nested: true
      },
      clients: [
        {
          name: 'Dr. Irena Eris',
          logo_url: './static/clients/irena-01.svg',
          id: 0
        },
        {
          name: 'Renaissance',
          logo_url: './static/clients/rennaisance-01.svg',
          id: 1
        },
        {
          name: 'Futourist',
          logo_url: './static/clients/futourist-01.svg',
          id: 2
        },
        {
          name: 'HR Contact',
          logo_url: './static/clients/hr-01.svg',
          id: 3
        },
        {
          name: 'Amway',
          logo_url: './static/clients/Amway-logo-01.svg',
          id: 4
        },
        {
          name: 'Playbrush',
          logo_url: './static/clients/playbrush.png',
          id: 5
        },
        {
          name: 'Quick Coders Academy',
          logo_url: './static/clients/quickcoders-01.svg',
          id: 6
        },
        {
          name: 'IFM',
          logo_url: './static/clients/ifm-01.svg',
          id: 7
        },
        {
          name: 'MySodapop',
          logo_url: './static/clients/soda_pop-01.svg',
          id: 8
        },
        {
          name: 'DECO Culture',
          logo_url: './static/clients/decoculture.png',
          id: 9
        },
        {
          name: 'Dolce Gusto',
          logo_url: './static/clients/dolcegusto-01.svg',
          id: 10
        },
        {
          name: 'Heineken',
          logo_url: './static/clients/heineken-01.svg',
          id: 11
        },
        {
          name: 'Lexus',
          logo_url: './static/clients/lexus-01.svg',
          id: 12
        },
        {
          name: 'Mercedes',
          logo_url: './static/clients/mercedes-01.svg',
          id: 13
        },
        {
          name: 'Knoppers',
          logo_url: './static/clients/knoppers-01.svg',
          id: 14
        },
        {
          name: 'Spotify',
          logo_url: './static/clients/spotify_logo-01.svg',
          id: 15
        },
        {
          name: 'TUI',
          logo_url: './static/clients/TUI-01.svg',
          id: 16
        },
        {
          name: 'Urban Tool',
          logo_url: './static/clients/urban_tool.png',
          id: 17
        }
      ]
    }
  },
  methods: {
    setSlideHeight () {
      let header = this.$el.querySelector('.page-header')
      let pagination = this.$el.querySelector('.clients-pagination')
      this.slideHeight = (window.innerHeight - header.offsetHeight - 120 - 16 - pagination.offsetHeight) / 4
    },
    updateSlider: function () {
      this.$refs.experienceSlider.swiper.update()
    }
  },
  mounted: function () {
    this.setSlideHeight()
    window.addEventListener('orientationchange', this.updateSlider)
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/_mixins';

  .client-slide {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }
</style>
