<template>
  <swiper-slide ref="page" :id="id" :data-hash="id" :data-history="id" :title="title" class="app-page swiper-slide">

    <transition name="fade">
      <div class="intro-wrapper" v-show="isPortrait">
        <transition name="slide-fade">
            <header class="page-header" v-show="isActive">
              <div class="container">
                <h2 class="h3" v-if="username">
                  <strong>{{ username }}</strong>, dowiedz się wszystkiego o <strong>huee</strong>
                </h2>
                <h2 class="h1" v-if="!username">{{ message }}</h2>
              </div>
            </header>
        </transition>

        <transition name="fade">
          <div class="cta-wrapper" v-show="isActive">
            <button type="button" class="button button-primary" v-on:click="showNewsletter()">Sign up!</button>
          </div>
        </transition>

        <transition name="fade">
          <video ref="video" class="video video-loop" v-show="isActive" playsinline loop muted autoplay>
            <source src="../../video/intro.webm" type="video/webm">
            <source src="../../video/intro.mp4" type="video/mp4">
          </video>
        </transition>
      </div>
    </transition>

    <transition name="fade">
      <app-game v-show="isLandscape" />
    </transition>

  </swiper-slide>
</template>

<script>
import Event from '../../scripts/event-bus'
import util from '../../scripts/utilities'
import Game from '../game/Game'

export default {
  name: 'Home',
  components: {
    'app-game': Game
  },
  data () {
    return {
      title: 'Home',
      message: 'We touch harder',
      id: 'intro',
      username: '',
      isLandscape: false,
      isPortrait: true,
      isActive: false
    }
  },
  methods: {
    landscapeView () {
      if (util.orientation.isLandscape()) {
        this.isLandscape = true
        this.isPortrait = false
      } else {
        this.isLandscape = false
        this.isPortrait = true
      }
    },
    showContent () {
      this.isActive = !this.isActive
    },
    showNewsletter () {
      Event.$emit('newsletteractive')
    },
    setUsername (name) {
      let username = (this.username = name)
      return username
    }
  },
  created () {
    window.addEventListener('orientationchange', this.landscapeView)
    window.addEventListener('DOMContentLoaded', this.landscapeView)
    Event.$on('newsletterhidden', () => this.showContent())
    Event.$on('newsletteractive', () => this.showContent())
    Event.$on('onusernamevalidate', (value) => this.setUsername(value))
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/_variables';
@import '../../styles/_mixins';

.intro-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cta-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 55%;
  z-index: 1;
}

.page-header {
  position: absolute;
  padding: ($nav-and-header-height * 1.25) 0 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.slide-fade-enter-active {
  transition: all 1s ease;
  transform: translateY(0);
  opacity: 1;
}
.slide-fade-leave-active {
  transform: translateY(32px);
  opacity: 0;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(32px);
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease;
  opacity: 1;
}
.fade-leave-active {
  opacity: 0;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
