<template>
  <swiper-slide ref="page" :id="id" :data-hash="id" :data-history="id" :title="title" class="app-page swiper-slide">
    <div class="app-page-inner">
      <swiper class="page-slider" :options="sliderOptions" ref="homeSlider">
        <div class="parallax-bg" slot="parallax-bg" data-swiper-parallax-x="-25%">
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
          <span class="parallax-stars"></span>
        </div>

        <swiper-slide class="content-slide u-no-padding">
          <div class="container">
            <p v-if="username"><strong>{{ username }}</strong>, kluczowa informacja.</p>
            <h2 class="h1">
              {{ $t("home.title") }}
            </h2>
          </div>
          <div data-swiper-parallax-x="-10%">
            <img src="../../assets/hand.png" alt="Huee" class="bounce" v-on:click="nextSlide()">
          </div>
        </swiper-slide>

        <swiper-slide class="about-wrapper">
          <swiper class="about-slider" :options="aboutSliderOptions" ref="aboutSlider">

            <swiper-slide class="about-slide">
              <div class="container">
                <h3>{{ $t("home.slide_title") }}</h3>
                <div class="copy u-text-justify">
                  <p>{{ $t("home.slide_1") }}</p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide class="about-slide">
              <div class="container">
                <div class="copy u-text-justify">
                  <p>{{ $t("home.slide_2") }}</p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide class="about-slide">
              <div class="container">
                <div class="u-text-center">
                  <img src="../../assets/about.gif" alt="huee">
                </div>
                <div class="copy u-text-justify">
                  <p>{{ $t("home.slide_3") }}</p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="container">
                <div class="cta-awards-wrapper u-text-center">
                  <transition name="fade">
                    <a href="#" class="show-awards button button-default button-with-icon button-with-icon--left">
                      <span class="icon icon--lg icon-award u-anim-pulse"></span>
                      <span>Check our awards</span>
                    </a>
                  </transition>
                </div>
              </div>
            </swiper-slide>
          </swiper>
          <div class="slider-overlay"></div>
        </swiper-slide>

        <swiper-slide class="awards-wrapper">
          <awards-list/>
          <div class="slider-overlay"></div>
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination pagination home-pagination" slot="pagination"></div>
    </div>
  </swiper-slide>
</template>

<script>
import Event from '../../scripts/event-bus'
import Awards from './Awards'

export default {
  name: 'Why',
  components: {
    'awards-list': Awards
  },
  data () {
    // let vue = this
    return {
      title: 'Why',
      id: 'why',
      username: '',
      sliderOptions: {
        speed: 500,
        parallax: true,
        slidesPerView: 'auto',
        watchOverflow: true,
        touchReleaseOnEdges: true,
        pagination: {
          el: '.home-pagination',
          dynamicBullets: true,
          clickable: true,
          bulletClass: 'bullet',
          bulletActiveClass: 'is-active',
          modifierClass: 'pagination '
        },
        spaceBetween: 100,
        nested: true,
        direction: 'horizontal',
        navigation: {
          nextEl: '.show-awards'
        }
      },
      aboutSliderOptions: {
        parallax: true,
        direction: 'vertical',
        slidesPerView: 'auto',
        // centeredSlides: true,
        spaceBetween: 16,
        nested: true,
        freeMode: true
      }
    }
  },
  methods: {
    updateSlider () {
      this.$refs.homeSlider.swiper.update()
    },
    nextSlide () {
      let slider = this.$refs.homeSlider.swiper
      slider.slideNext(500)
    },
    setUsername (name) {
      let username = (this.username = name)
      return username
    }
  },
  created () {
    Event.$on('onusernamevalidate', (value) => this.setUsername(value))
  },
  mounted () {
    window.addEventListener('orientationchange', this.updateSlider)
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/_variables';
@import '../../styles/_mixins';

.h1 {
  font-size: 300%;
}

.about-slider {
  max-height: calc(100% - 56px);
}

.slider-overlay {
  width: 100%;
  height: 56px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  z-index: 2;
}

.cta-awards-wrapper {
  position: relative;
  z-index: 1;
  padding: ($base-padding * 2) 0 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
