<template>
  <div class="game-wrapper">
    <div class="container">
      <h4 class="h2">{{ title }}</h4>
      <p>{{ message }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Game',
  data () {
    return {
      title: 'Space hueeroes!',
      message: 'We are working on arcade game, get back soon!'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/_mixins';
.game-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  @include flexbox;
  @include align-items(center);
}
</style>
