<template>
  <div class="alert android go-fs" v-if="isActive">
    <div class="alert__body">
      <button type="button" class="alert__trigger fullscreen" v-on:click="toggleFullScreen()">Fullscreen</button>
      <span class="alert__message">{{ message }}</span>
    </div>
    <button type="button" class="close alert__dismiss" v-on:click="dismiss()"></button>
  </div>
</template>

<script>
import util from '../scripts/utilities'

const ui = require('../scripts/ui')

export default {
  name: 'Alert',
  data () {
    return {
      isActive: true,
      isExpanded: false,
      message: '',
      expandText: 'expand fullscreen',
      exitText: 'exit fullscreen'
    }
  },
  methods: {
    checkDevice () {
      if (!util.isMobile.Android()) {
        this.isActive = !this.isActive
      }
    },
    dismiss () {
      this.isActive = !this.isActive
    },
    toggleFullScreen () {
      ui.goFullScreen()
      this.isExpanded = !this.isExpanded
      this.message = this.isExpanded ? this.exitText : this.expandText
    }
  },
  created: function () {
    this.message = this.expandText
  },
  beforeMount () {
    this.checkDevice()
  }
}
</script>

<style lang="scss">
  @import '../styles/_variables';
  @import '../styles/_mixins';
  .alert {
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    padding: $base-padding;
    background-color: $gray-base;
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);

    &__body {
      width: 100%;
      width: calc(100% - 44px);
    }

    &__message {
      font-size: $font-size-sm;
      padding: 0;
    }

    &__dismiss {
      position: absolute;
      right: $base-padding;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
</style>
