<template>
  <swiper class="contacts-slider" :options="contactsOptions" ref="contacts">
    <swiper-slide v-for="contact in contacts" :key="contact.id">
      <div class="contact">
        <h4 class="contact__name u-no-margin">{{ contact.name }}</h4>
        <div class="contact__country">{{ contact.country }}</div>
        <a class="contact__email" v-bind:href="'mailto:' + contact.email + ''" target="_blank">{{ contact.email }}</a>
        <a class="contact__tel button button-primary" v-if="contact.tel" v-bind:href="'tel:' + contact.tel + ''">{{ contact.tel_text }}</a>
      </div>
    </swiper-slide>
    <div class="hand-nav hand-nav--prev contact-prev" slot="button-prev"></div>
    <div class="hand-nav hand-nav--next contact-next" slot="button-next"></div>
  </swiper>
</template>

<script>
export default {
  name: 'SwitchLang',
  data () {
    return {
      contactsOptions: {
        speed: 500,
        slidesPerView: 1,
        watchOverflow: true,
        touchReleaseOnEdges: true,
        spaceBetween: 16,
        nested: true,
        direction: 'horizontal',
        navigation: {
          nextEl: '.contact-next',
          prevEl: '.contact-prev'
        },
        on: {
          init: function () {
            document.querySelector('.contact-next').classList.add('active')
          },

          reachBeginning: function () {
            document.querySelector('.contact-next').classList.add('active')
            document.querySelector('.contact-prev').classList.remove('active')
          },

          reachEnd: function () {
            document.querySelector('.contact-prev').classList.add('active')
            document.querySelector('.contact-next').classList.remove('active')
          }
        }
      },
      contacts: [
        {
          name: 'Gabi',
          country: 'Poland',
          email: 'gabi@huee.in',
          tel: '+48535939911',
          tel_text: '+48 535 939 911',
          id: 0
        },
        {
          name: 'Piotr',
          country: 'Poland',
          email: 'piotr@huee.in',
          tel: '+48666646006',
          tel_text: '+48 666 646 006',
          id: 1
        },
        {
          name: 'Niko',
          country: 'Austria',
          email: 'niko@huee.in',
          tel: '',
          tel_text: '',
          id: 2
        }
      ]
    }
  }
}
</script>
