<template>
  <transition name="fade">
    <div v-show="isActive" class="loading"></div>
  </transition>
</template>

<script>
export default {
  name: 'Loader',
  data () {
    return {
      isActive: false
    }
  },
  methods: {
    showLoader: function (state) {
      this.isActive = state
      setTimeout(() => {
        this.isActive = false
      }, 500)
    }
  },
  mounted: function () {
    this.$root.$on('isloading', (state) => {
      this.showLoader(state)
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/_variables';

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $gray-base;
  z-index: 2;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
