<template>
  <!-- Begin MailChimp Signup Form -->
  <transition name="fade">
    <form id="signup" action="index.html" method="get" class="newsletter-wrapper" v-show="isActive" v-on:submit.prevent="subscribeRequest" ref="mailChimpForm">
      <swiper class="newsletter-slider" :options="newsletterSliderOptions" ref="newsletterSlider">
        <div class="parallax-bg" slot="parallax-bg" data-swiper-parallax-y="50%">
          <span class="parallax-stars parallax-stars--vertical"></span>
          <span class="parallax-stars parallax-stars--vertical"></span>
          <span class="parallax-stars parallax-stars--vertical"></span>
        </div>
        <div class="ufo-wrapper" slot="parallax-bg"  data-swiper-parallax-y="-100%" data-swiper-parallax-scale=".5">
          <img src="../assets/ufo.png" alt="huee" class="ufo-image">
        </div>

        <swiper-slide class="newsletter-step">
          <fieldset class="container">
            <label for="your-name" class="u-hidden">{{ $t('newsletter.name') }}</label>
            <p class="h6 u-text-center u-font-primary u-no-margin">Hej jesteśmy <strong>huee</strong>, jestesmy <strong>digital hubem</strong>. Zajmujemy się switchem komunikacyjnym.<br> A ty kim ?</p>
            <input
              type="text"
              name="NAME"
              id="your-name"
              class="text-input"
              v-bind:placeholder="$t('newsletter.name')"
              v-validate="'required|alpha_spaces'"
              v-model="user.name" data-vv-as="full name"
              v-on:blur="((!errors.has('NAME') && user.name !== '') ? goToNextStep(true) : null)"
              >
            <span v-if="(!errors.has('NAME') && user.name !== '') ? saveName(user.name) : saveName()"></span>
            <transition name="fade">
              <span class="validation-error error u-text-sm" v-if="errors.has('NAME')">{{errors.first('NAME')}}</span>
            </transition>
          </fieldset>
          <div class="skip-wrapper u-text-center">
            <button type="button" class="button button-default" v-on:click="skip()">Pomiń</button>
          </div>
        </swiper-slide>

        <swiper-slide class="newsletter-step">
          <fieldset class="container">
            <transition name="fade">
              <div class="u-text-center" v-if="!errors.has('NAME') && user.name !== ''">Cześć 😊 <strong>{{ user.name }}</strong>,<strong> huee</strong> to specjaliści od 🤖 autoamtyzacji która pomoże twojej sprzedaży. Jeżeli chcesz się o tym przekonać <strong>zostaw nam swój email.</strong></div>
            </transition>
            <label for="your-email" class="u-hidden">{{ $t('newsletter.email') }}</label>
            <input
              type="email"
              name="EMAIL"
              id="your-email"
              class="text-input"
              v-bind:placeholder="$t('newsletter.email')"
              v-validate="'required|email'"
              v-model="user.email" data-vv-as="email"
              v-on:blur="((!errors.has('EMAIL') && user.email !== '') ? goToNextStep(true) : null)"
            >
            <transition name="fade">
              <span class="validation-error error u-text-sm" v-if="errors.has('EMAIL')">{{errors.first('EMAIL')}}</span>
            </transition>
          </fieldset>
        </swiper-slide>

        <swiper-slide class="newsletter-step">
          <fieldset class="container">
            <transition name="fade">
              <div class="u-text-center" v-if="!errors.has('NAME') && user.name !== ''">
                <img src="../assets/hello.gif" alt="huee" />
                <div><strong>{{ user.name }}</strong> Ostatni krok i jesteśmy w domu. Zero spamu. Żadnego przetwarzania danych. No worries.</div>
              </div>
            </transition>
            <div class="checkbox u-text-justify">
              <input
                type="checkbox"
                value="true"
                name="TERMS"
                id="agree-terms"
                v-validate="'required'"
                v-model="user.terms" data-vv-as="terms"
              >
              <label for="agree-terms" class="u-text-sm">
                <span class="asterisk">*</span> Wyrażam zgodę na otrzymywanie od huee Sp. z o.o. drogą elektroniczną na wskazany przeze mnie w Formularzu adres e-mail informacji handlowych, <span v-show="isExpanded">dotyczących produktów i usług oferowanych przez huee Sp. z o.o. w rozumieniu ustawy o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 r. (Dz. U z 2013 r., poz. 1422 ze zm.)</span> <span v-on:click="expand()">(...)</span>
              </label>
            </div>
            <transition name="fade">
              <span class="validation-error error u-text-sm" v-if="errors.has('agree-terms')">{{errors.first('agree-terms')}}</span>
            </transition>

            <div class="u-text-center">
              <button type="submit" name="subscribe" id="submit-button" class="button button-submit" :disabled="errors.any() || checkData">{{ $t('newsletter.send') }}</button>
            </div>
          </fieldset>
        </swiper-slide>

        <swiper-slide class="newsletter-step">
          <div class="container">
            <div class="thank-you-wrapper">
              <img src="../assets/ufo.png" alt="huee" class="ufo-image ufo-image--animated">
              <div class="u-text-center">
                <div class="h1">Thank<br>you!</div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper>

      <div class="newsletter-nav-wrapper">
        <button type="button" class="prev-step arrow arrow-top"></button>
        <button type="button" class="next-step arrow arrow-bottom"></button>
      </div>
    </form>
  </transition>
</template>

<script>
import Event from '../scripts/event-bus'
import util from '../scripts/utilities'

export default {
  name: 'Newsletter',
  data: () => ({
    checked: false,
    isActive: true,
    isExpanded: false,
    user: {
      name: '',
      email: '',
      terms: false
    },
    mailChimpURL: 'https://huee.in/m/lib/mc/store-address.php',
    newsletterSliderOptions: {
      speed: 1000,
      parallax: true,
      slidesPerView: 1,
      spaceBetween: 0,
      direction: 'vertical',
      navigation: {
        nextEl: '.next-step',
        prevEl: '.prev-step',
        disabledClass: 'disabled'
      },
      height: window.innerHeight,
      on: {
        slideChange: function () {
          let slider = this

          function disableNextButton (slider) {
            if (slider.slides.length - slider.activeIndex === 2) {
              dismissNextButton(slider)
              slider.allowSlideNext = false
            } else if (slider.slides.length - slider.activeIndex === 1) {
              disableSliding(slider)
              dismissPrevButton(slider)
              dismissNextButton(slider)
            } else {
              slider.navigation.nextEl.style.opacity = 1
              slider.navigation.nextEl.removeAttribute('disabled')
              slider.allowSlideNext = true
            }
          }

          function disableSliding (slider) {
            slider.allowSlidePrev = false
            slider.allowSlideNext = false
          }

          function dismissPrevButton (slider) {
            slider.navigation.prevEl.style.opacity = 0
            slider.navigation.prevEl.setAttribute('disabled', true)
          }

          function dismissNextButton (slider) {
            slider.navigation.nextEl.style.opacity = 0
            slider.navigation.nextEl.setAttribute('disabled', true)
          }

          disableNextButton(slider)
        }
      }
    }
  }),
  methods: {
    skip () {
      this.toggleNewsletter()
      Event.$emit('newsletterhidden')
    },

    toggleNewsletter () {
      this.isActive = !this.isActive
    },

    saveName (username) {
      Event.$emit('onusernamevalidate', username)
    },

    expand () {
      this.isExpanded = !this.isExpanded
    },

    goToNextStep (state) {
      if (state) {
        this.$refs.newsletterSlider.swiper.slideNext(1000)
      }
    },

    thankYou () {
      let slider = this.$refs.newsletterSlider.swiper
      slider.allowSlideNext = true
      slider.slideNext(1000)
      this.hideNewsletter(slider)
    },

    hideNewsletter (slider) {
      setTimeout(() => {
        this.toggleNewsletter()
        Event.$emit('newsletterhidden')
      }, 2000)
    },

    subscribeRequest () {
      let _this = this
      let http = new XMLHttpRequest()
      let params = util.serialize(this.$refs.mailChimpForm)
      http.open('POST', this.mailChimpURL, true)
      http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
      http.overrideMimeType('application/json')
      http.send(params)

      http.onload = function () {
        var message = JSON.parse(http.response)
        if (message.status === 'pending') {
          _this.pending()
        } else if (message.status === 'subscribed') {
          _this.subscribed()
        } else {
          _this.error(message.detail)
        }
        return false
      }
    },

    pending () {
      console.log('Success! Please click the confirmation link that will be emailed to you shortly.')
      this.thankYou()
    },

    subscribed () {
      console.log('We got you on the list!')
      this.thankYou()
    },

    error (status) {
      console.log(status)
    }
  },
  computed: {
    checkData () {
      return (this.user.name === '' || this.user.email === '' || this.user.terms === false)
    }
  },
  created () {
    Event.$on('newsletteractive', () => this.toggleNewsletter())
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/_variables';
@import '../styles/_mixins';

.text-input {
  font-family: $font-headline;
  text-align: center;
  color: $default;
  border: 0;
  background-color: transparent;
  padding: ($base-padding * 2) $base-padding;
  font-size: $h3;
  outline: none;
}

.validation-error {
  text-align: center;
  width: 100%;
  padding: 0 10%;
  position: absolute;
  left: 0;
  color: $primary;
}

.button-submit {
  margin-top: ($base-padding * 2);
}

.newsletter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $gray-base;
  z-index: 1;

  .parallax-stars {
    transition-delay: 1s;
    opacity: 1;
  }
}

.skip-wrapper {
  width: 100%;
  position: absolute;
  bottom: calc(44px + 44px + 8px);
}

.ufo-wrapper {
  position: absolute;
  width: 100%;
}

.ufo-image {
  margin: $nav-and-header-height auto 0;
  display: block;
  max-width: 90%;
  animation: ufo 5s linear infinite;

  .thank-you-wrapper & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: ($nav-and-header-height * 3);
    margin: auto;
  }

  .landscape & {
    margin: ($nav-and-header-height / 2) auto 0;
    max-width: 200px;
  }
}

.newsletter-step {
  padding-top: $nav-and-header-height;
  padding-bottom: $nav-and-header-height;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
}

.newsletter-nav-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: $base-padding;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  .arrow {
    width: 44px;
    height: 44px;
  }

  .arrow-top::before {
    background-size: 18px;
    opacity: .5;
  }

  .landscape & {
    bottom: 0;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

::placeholder {
    color: $default;
    opacity: 1;
}

@keyframes ufo {

  0% {
    transform: translateY(0px);
  },

  25% {
    transform: translateY(10px);
  },

  75% {
    transform: translateY(-20px);
  },

  100% {
    transform: translateY(0px);
  }
}
</style>
