<template>
  <div class="switch-lang-wrapper">
    <div id="app-lang" class="switch-lang" v-on:click="changeLang()" v-bind:class="{ active: isActive }" style="-ms-touch-action: none;">
        <a class="switch-lang__item" data-lang="pl">PL</a>
        <a class="switch-lang__item" data-lang="en">EN</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SwitchLang',
  data () {
    return {
      isActive: false,
      isLoading: true
    }
  },
  methods: {
    changeLang: function () {
      let current = this.$locale.current()
      this.isActive = !this.isActive
      this.loading()
      setTimeout(() => {
        if (current === 'en') {
          this.$locale.change('pl')
        } else {
          this.$locale.change('en')
        }
      }, 250)
    },
    loading: function () {
      this.$root.$emit('isloading', true)
    }
  }
}
</script>
