//## Defaults
@import "./_variables";
@import "./_mixins";
@import "./_functions";

html,
body {
    background-color: $gray-base;
    color: $default;
    font-family: $font-regular;
    font-size: $font-size-base;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
    overflow-x: hidden;
}

.safari {

  .app-page,
  .app-page-inner {
    height: 100%;
  }
}

#app,
#app-header,
#app-nav {
  width: 100%;
}

#app {
  height: 100%;
  position: fixed;
}

#app-header,
#app-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

#app-nav {
  bottom: 0;
  height: $nav-and-header-height;
  background-color: $default;
  z-index: 8;
}

.app-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $gray-base;
}

.app-page-inner {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: $nav-and-header-height;
  padding-bottom: $nav-and-header-height;
}

.page-header {
  margin-bottom: ($base-padding * 2);
}

video {
  width: 100%;
  height: auto;
}


.android.go-fs:-webkit-full-screen {
  display: none;
}
.android.go-fs:-moz-full-screen {
  display: none;
}
.android.go-fs:-ms-fullscreen {
  display: none;
}
.android.go-fs:fullscreen {
  display: none;
}


//********************
#app-header {
  top: 0;
  height: $nav-and-header-height;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  @include flexbox;
  @include align-items(center);
}

.header-wrapper {
  @include align-items(center);
  @include justify-content(space-between);
}

.brand {
  display: block;
  width: 80px;
  height: 44px;

  &__logo {
    width: 80px;
    height: 44px;
    fill: $default;
  }
}


//********************
.swiper-container {
  overflow: visible;
  position: unset;
  height: 100%;

  &.swiper-container-multirow,
  &.swiper-container-vertical {
    height: auto;
  }
}

.content-slide {
  width: 100%;
  overflow: hidden;
  padding-bottom: ($base-padding * 7);
  @include flexbox;
  @include flex-direction(column);
  // @include justify-content(space-between);
  @include justify-content(center);

  .swiper-container-multirow &,
  .swiper-container-vertical & {
    padding: 0;
  }
}

.pagination {
  width: 100%;
  height: ($base-padding * 7);
  padding: ($base-padding * 2) 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  transform: translateY(-$nav-and-header-height);
  will-change: transform;
  @include transition(transform .3s ease);


  .landscape & {
    transform: translateY(0);
  }



  .bullet {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 ($base-padding / 2);
    position: relative;
    transform: scale(0.33);
    box-shadow: 0 0 0 1px rgba($primary, 0);
    transition-delay: 10s;
    @include transition(all .3s ease);

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: inline-block;
      border-radius: 50%;
      background-color: $default;
    }

    &.is-active {
      transform: scale(1);
      box-shadow: 0 0 0 1px $primary;
    }

    &.is-active-prev,
    &.is-active-next {
      transform: scale(0.66);
    }
  }
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


//********************
.nav-wrapper {
  @include justify-content(space-between);
}

.nav {

  .nav-item {
    font-size: $font-size-xs;
    color: $primary;
    height: $nav-and-header-height;
    padding: $base-padding;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include flex(1);

    &.active {
      background-color: $gray-lightest;
    }
  }
}


//********************
.award {
  width: 70%;
  margin: 0 5%;

  &__title {
    padding-right: $base-padding;
  }

  &__date {
    color: $primary;
  }
}

.award-details-wrapper {
  font-size: $font-size-xs;
  white-space: nowrap;
}


//********************
.contact {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: ($base-padding * 2);

  &__name,
  &__country,
  &__email {
    font-weight: 500;
    padding-left: $base-padding;
    padding-right: $base-padding;
  }

  &__name {
    font-family: $font-regular;
  }

  &__country {
    font-weight: 400;
  }

  &__email {
    color: $primary;
    float: left;
    margin-bottom: $base-padding;
  }

  &__tel {
    float: left;
    clear: both;
  }
}


//********************
.project {
  height: calc((100vh - 120px) / 3);
  position: relative;

  // TODO fix iOS safari browser bars heights (75px) are static now
  .safari & {
      height: calc((100vh - 120px - 75px) / 3);
  }

  .standalone & {
      height: calc((100vh - 120px) / 3);
  }

  &__title {
    color: $default;
  }

  &__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
}

.project-title-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($gray-base, .65);
  text-align: center;
  padding: 0 $base-padding;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}

  .contacts-slider {
    position: relative;
  }


//********************
.hand-nav {
  position: absolute;
  z-index: 9999;
  width: 80px;
  height: 80px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: transform, opacity;
  transition-duration: .5s;
  transition-timing-function: ease;
  transform: translateX(100%);
  opacity: 0;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-top: 2px solid $default;
    border-right: 2px solid $default;
  }

  &--prev {
    &::before {
      transform: rotate(-135deg);
      margin-left: 20px;
    }
  }

  &--next {
    &::before {
      transform: rotate(45deg);
      margin-right: 20px;
    }
  }

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}


//********************
.arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  position: relative;
  background-color: transparent;
  transition-property: transform, opacity;
  transition-duration: .5s;
  transition-timing-function: ease;
  outline: none;

  &.disabled {
    opacity: 0;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/icons/arrow.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }

  &-right {
    transform: rotate(0);
  }

  &-left {
    transform: rotate(180deg);
  }

  &-top {
    transform: rotate(-90deg);
  }

  &-bottom {
    transform: rotate(90deg);
  }
}


//********************
.client-logo {
  @include flex-shrink(0);
  max-height: 42px;
  max-width: 60%;
}


//********************
.bounce {
  animation: bounce infinite 3s ease-in;
}
@keyframes bounce {
  0%,
  20%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10%);
  }
}