//## Grid
@import "./_variables";
@import "./_mixins";

.container {
    width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding-left: ($base-padding * 2);
	padding-right: ($base-padding * 2);
}

.flex-wpapper {
	@include flexbox;
}

.row {
	margin-left: -$base-padding;
	margin-right: -$base-padding;
	@include flexbox;
}

[class*="col-"] {
	float: left;
	padding-left: $base-padding;
	padding-right: $base-padding;
}

.col-1-2 {
	width: 50%;
}