//## Typography
@import "./_variables";
@import "./_mixins";

@font-face {
	font-family: 'Noe Display';
	src: url('../fonts/NoeDisplay-Black.eot');
	src: url('../fonts/NoeDisplay-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NoeDisplay-Black.woff') format('woff'),
		 url('../fonts/NoeDisplay-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-headline;
	margin-bottom: ($base-padding * 3);
}

h1, .h1 { font-size: $h1; line-height: 1; }
h2, .h2 { font-size: $h2; line-height: 1.2; }
h3, .h3 { font-size: $h3; line-height: 1.2; }
h4, .h4 { font-size: $h4; line-height: 1.2; }
h5, .h5 { font-size: $h5; line-height: 1.4; }
h6, .h6 { font-size: $h6; line-height: 1.4; }

p {
    margin-bottom: ($base-padding * 2);

    &:last-child {
    	margin-bottom: 0;
    }
}

.copy {

    &--lg {
        font-size: $p;
    }
}
