//## Utilities
@import "./_variables";
@import "./_mixins";

//** Screen render
.u-sr {
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

//** Fonts and typo
.u-text-sm { font-size: $font-size-sm; }
.u-text-xs { font-size: $font-size-xs; }
.u-font-primary { font-family: $font-regular; }
.u-font-secondary { font-family: $font-headline; }
.u-text-uppercase { text-transform: uppercase; }
.u-text-justify { text-align: justify; }
.u-text-center { text-align: center; }

//** Colors
.u-color-primary { color: $primary }

//** Layout
.u-no-padding { padding: 0; }
.u-no-margin { margin: 0; }
.u-hidden { display: none; }

//** Animations
.u-anim-pulse { animation: pulse 5s infinite; }

@keyframes pulse {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

