<template>
  <div id="app" v-if="isiPhone5AndBelow" v-bind:class="{ landscape: isLandscape }">
    <app-header/>
    <app-content/>
    <app-nav/>
    <app-newsletter ref="newsletter" />
    <app-alert/>
    <app-loader/>
  </div>
</template>

<script>
import Header from './components/modules/Header'
import Main from './components/modules/Main'
import Nav from './components/modules/Nav'
import Loader from './components/Loader'
import Alert from './components/Alert'
import Newsletter from './components/Newsletter'

import util from './scripts/utilities'

export default {
  name: 'App',
  components: {
    'app-header': Header,
    'app-content': Main,
    'app-nav': Nav,
    'app-alert': Alert,
    'app-loader': Loader,
    'app-newsletter': Newsletter
  },
  data () {
    return {
      isiPhone5AndBelow: true,
      isLandscape: false
    }
  },
  methods: {
    landscapeView: function () {
      if (util.orientation.isLandscape()) {
        this.isLandscape = true
      } else {
        this.isLandscape = false
      }
    },
    detectBrowser: function () {
      if (util.isBrowser.Safari()) {
        document.documentElement.classList.add('safari')
      }

      if (util.isNavigator.Standalone()) {
        document.documentElement.classList.add('standalone')
      }
    },
    detectDevice: function () {
      if (util.isDevice.iPhone5Below()) {
        // this.isiPhone5AndBelow = !this.isiPhone5AndBelow
      }
    }
  },
  created: function () {
    window.addEventListener('orientationchange', this.landscapeView)
    window.addEventListener('DOMContentLoaded', this.landscapeView)
  },
  beforeMount () {
    this.detectBrowser()
    this.detectDevice()
  },
  mounted () {

  }
}
</script>
